input {
  color: #0b1c30 !important;
  -webkit-text-fill-color: #0b1c30 !important;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  -webkit-text-fill-color: #0b1c30 !important;
  transition: background-color 5000s ease-in-out 0s;
}