<ion-content
  class="ion-padding"
  style="--background: #f8f9ff;"
>

  <div
    class="min-h-full flex items-center justify-center px-4 py-10"
  >

    <div
      class="w-full max-w-md bg-white rounded-xl p-8"
    >

      <div class="text-center mb-8">

        <h1
          class="text-3xl font-bold text-primary"
        >
          Nueva contraseña
        </h1>

        <p class="text-on-surface-variant mt-2">
          Ingresa tu nueva contraseña
        </p>

      </div>

      <form
        (ngSubmit)="restablecerContrasena()"
        class="space-y-6"
      >

        <!-- PASSWORD -->
<div>

  <label
    class="block mb-2 text-on-background font-semibold"
  >
    Nueva contraseña
  </label>

  <div class="relative">

    <input
      [type]="showPassword ? 'text' : 'password'"
      [(ngModel)]="password"
      name="password"
      required
      placeholder="••••••••"
      class="w-full px-4 py-3 pr-14 border border-outline-variant rounded-lg bg-white text-black placeholder-gray-400"
    />

    <button
      type="button"
      (click)="showPassword = !showPassword"
      class="absolute top-1/2 right-4 -translate-y-1/2 text-outline"
    >

      <span class="material-symbols-outlined">

        {{
          showPassword
            ? 'visibility'
            : 'visibility_off'
        }}

      </span>

    </button>

  </div>

</div>

<!-- CONFIRM PASSWORD -->
<div>

  <label
    class="block mb-2 text-on-background font-semibold"
  >
    Confirmar contraseña
  </label>

  <div class="relative">

    <input
      [type]="showConfirmPassword ? 'text' : 'password'"
      [(ngModel)]="confirmPassword"
      name="confirmPassword"
      required
      placeholder="••••••••"
      class="w-full px-4 py-3 pr-14 border border-outline-variant rounded-lg bg-white text-black placeholder-gray-400"
    />

    <button
      type="button"
      (click)="showConfirmPassword = !showConfirmPassword"
      class="absolute top-1/2 right-4 -translate-y-1/2 text-outline"
    >

      <span class="material-symbols-outlined">

        {{
          showConfirmPassword
            ? 'visibility'
            : 'visibility_off'
        }}

      </span>

    </button>

  </div>

</div>

        <!-- BUTTON -->
        <button
          type="submit"
          [disabled]="isLoading"
          class="w-full py-3 rounded-lg bg-primary text-white"
        >

          {{
            isLoading
              ? 'Guardando...'
              : 'Restablecer contraseña'
          }}

        </button>

      </form>

    </div>

  </div>

</ion-content>